@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prism.css";
html{
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  background-image: url("../../public/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), "Inter", sans-serif;
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}




/* Homie */
/* Background Colors Start */
.blurb {
  z-index: -1;
  width: 40%;
  height: 20rem;
  filter: blur(15rem);
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  position: absolute;
}
.blurb-1 {
  z-index: -1;
  width: 10%;
  height: 10rem;
  filter: blur(7rem);
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  position: absolute;
}
.blurb-footer {
  z-index: -1;
  width: 30%;
  height: 20rem;
  filter: blur(50rem);
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  position: absolute;
  bottom: 50%;
}

/* Background Colors End */





/* ScrollBar  Start*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  border-radius: 100%;
}

/* ScrollBar  end*/


.sahero {
	 /* background: #082330; */
	 background-size: 0.12em 100%;
	 font: 16em/1 Arial;
}
 .text--line {
	 font-size: 0.5em;
}
 .sa-svg {
	 position: absolute;
	 width: 100%;
	 height: 100%;
}
 .text-copy {
	 fill: none;
	 stroke: white;
	 stroke-dasharray: 7% 28%;
	 stroke-width: 3px;
	 animation: stroke-offset 9s infinite linear;
}
 .text-copy:nth-child(1) {
	 stroke: #360745;
	 stroke-dashoffset: 7%;
}
 .text-copy:nth-child(2) {
	 stroke: #47f9d8;
	 stroke-dashoffset: 14%;
}
 .text-copy:nth-child(3) {
	 stroke: #1cff42;
	 stroke-dashoffset: 21%;
}
 .text-copy:nth-child(4) {
	 stroke: #989898;
	 stroke-dashoffset: 28%;
}
 .text-copy:nth-child(5) {
	 stroke: #45705a;
	 stroke-dashoffset: 35%;
}
 @keyframes stroke-offset {
	 50% {
		 stroke-dashoffset: 35%;
		 stroke-dasharray: 0 87.5%;
	}
}
 