@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prism.css";
html{
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  background-image: url("../../public/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), "Inter", sans-serif;
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}




/* Homie */
/* Background Colors Start */
.blurb {
  z-index: -1;
  width: 40%;
  height: 20rem;
  filter: blur(15rem);
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  position: absolute;
}
.blurb-1 {
  z-index: -1;
  width: 10%;
  height: 10rem;
  filter: blur(7rem);
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  position: absolute;
}
.blurb-footer {
  z-index: -1;
  width: 30%;
  height: 20rem;
  filter: blur(50rem);
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  position: absolute;
  bottom: 50%;
}

/* Background Colors End */





/* ScrollBar  Start*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  background-image: linear-gradient(30deg, #47f9f3, #1cff42);
  border-radius: 100%;
}

/* ScrollBar  end*/